*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




main{
    display: flex;
    flex-direction: column;
}
.mobile{
    display: block;
}
.tablet, .desktop{
    display: none;
}
#products{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-evenly;
}
.product-card{
    width: 95%;
}
.product-card > img{
    width: 100%;
}

.item{
    display: flex;
    font-size: 12px;
}
.item button{
    margin-left: auto;
    background: none;
    border-radius: 50%;
    width: 18px;height: 18px;
    
}

@media (min-width: 480px){
/* tablet */
    .mobile{
        display: none;
    }
    .tablet{
        display: block;
    }
    .product-card{
        width: 45%;
    }
    main{
        flex-direction: row;
    }
    main .products{
        flex: 3;
    }
    main .cart{
        flex: 1;

    }
}
@media (min-width: 780px){
/* desktop */
    .tablet{
        display: none;
    }
    .desktop{
        display: block;
    }
    .product-card{
        width:30%;
    }
}


